In [1]:
import pandas as pd
from sqlalchemy import create_engine
import json

credit_csv = "tmdb_5000_credits.csv"
credit_df = pd.read_csv(credit_csv)
credit_df.head()


movie_csv_file = "tmdb_5000_movies.csv"
movie_data_df = pd.read_csv(movie_csv_file)
movie_data_df.head()

title = pd.DataFrame(credit_df["title"])
title.set_index("title").head()

Empty DataFrame
Columns: []
Index: [Avatar, Pirates of the Caribbean: At World's End, Spectre, The Dark Knight Rises, John Carter]

In [9]:
castList = []
for index, row in credit_df.iterrows():
   cast_list = json.loads(row["cast"])
   cast_per_movie = []
   for cast in cast_list:
       cast_per_movie.append(cast['name'])
   castList.append(cast_per_movie)

In [12]:
type(castList)
df_cast = pd.DataFrame({'col':castList})

In [14]:
df_cast.head()
len(df_cast)

4803

In [15]:
credit_df['castList'] = df_cast

In [16]:
credit_df.head()

,movie_id,title,cast,crew,castList
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[Sam Worthington, Zoe Saldana, Sigourney Weave..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","[Johnny Depp, Orlando Bloom, Keira Knightley, ..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...","[Daniel Craig, Christoph Waltz, Léa Seydoux, R..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...","[Christian Bale, Michael Caine, Gary Oldman, A..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...","[Taylor Kitsch, Lynn Collins, Samantha Morton,..."

In [23]:
crews = pd.DataFrame(credit_df["crew"])

In [25]:
castList = []
for index, row in credit_df.iterrows():
   cast_list = json.loads(row["crew"])
   cast_per_movie = []
   for cast in cast_list:
       if(cast["job"] == "Director") :
           cast_per_movie.append(cast["name"])
   castList.append(cast_per_movie)

In [28]:
len(castList)
df_dir = pd.DataFrame({'col':castList})

In [30]:
credit_df['director'] = df_dir

In [31]:
credit_df.head()

,movie_id,title,cast,crew,castList,director
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski]
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...",[Sam Mendes]
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...","[Christian Bale, Michael Caine, Gary Oldman, A...",[Christopher Nolan]
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...",[Andrew Stanton]

In [35]:
credit_df = credit_df.drop("cast", axis=1)
credit_df = credit_df.drop("crew", axis=1)

In [39]:
credit_df.head()

,movie_id,title,castList,director
0,19995,Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski]
2,206647,Spectre,"[Daniel Craig, Christoph Waltz, Léa Seydoux, R...",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Christian Bale, Michael Caine, Gary Oldman, A...",[Christopher Nolan]
4,49529,John Carter,"[Taylor Kitsch, Lynn Collins, Samantha Morton,...",[Andrew Stanton]

In [44]:

movie_data_df = movie_data_df.drop("original_language", axis=1)
movie_data_df = movie_data_df.drop("budget", axis=1)
movie_data_df = movie_data_df.drop("production_companies", axis=1)
movie_data_df = movie_data_df.drop("production_countries", axis=1)
movie_data_df = movie_data_df.drop("runtime", axis=1)

,genres,homepage,id,original_title,overview,popularity,release_date,revenue,spoken_languages,status,tagline,title,vote_average,vote_count
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,2009-12-10,2787965087,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,2007-05-19,961000000,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,2015-10-26,880674609,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,2012-07-16,1084939099,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,John Carter,"John Carter is a war-weary, former military ca...",43.926995,2012-03-07,284139100,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [46]:
movie_data_df = movie_data_df.drop("genres", axis=1)
movie_data_df = movie_data_df.drop("popularity", axis=1)
movie_data_df = movie_data_df.drop("spoken_languages", axis=1)


movie_data_df.head()

,homepage,id,original_title,overview,release_date,revenue,status,tagline,title,vote_average,vote_count
0,http://www.avatarmovie.com/,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...",2009-12-10,2787965087,Released,Enter the World of Pandora.,Avatar,7.2,11800
1,http://disney.go.com/disneypictures/pirates/,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",2007-05-19,961000000,Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,http://www.sonypictures.com/movies/spectre/,206647,Spectre,A cryptic message from Bond’s past sends him o...,2015-10-26,880674609,Released,A Plan No One Escapes,Spectre,6.3,4466
3,http://www.thedarkknightrises.com/,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,2012-07-16,1084939099,Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,http://movies.disney.com/john-carter,49529,John Carter,"John Carter is a war-weary, former military ca...",2012-03-07,284139100,Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [47]:
movie_data_df = movie_data_df.drop("status", axis=1)
movie_data_df = movie_data_df.drop("vote_average", axis=1)
movie_data_df = movie_data_df.drop("vote_count", axis=1)


movie_data_df.head()

,homepage,id,original_title,overview,release_date,revenue,tagline,title
0,http://www.avatarmovie.com/,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...",2009-12-10,2787965087,Enter the World of Pandora.,Avatar
1,http://disney.go.com/disneypictures/pirates/,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",2007-05-19,961000000,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End
2,http://www.sonypictures.com/movies/spectre/,206647,Spectre,A cryptic message from Bond’s past sends him o...,2015-10-26,880674609,A Plan No One Escapes,Spectre
3,http://www.thedarkknightrises.com/,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,2012-07-16,1084939099,The Legend Ends,The Dark Knight Rises
4,http://movies.disney.com/john-carter,49529,John Carter,"John Carter is a war-weary, former military ca...",2012-03-07,284139100,"Lost in our world, found in another.",John Carter

In [50]:

credit_df.rename(columns={'movie_id': 'id'}, inplace=True)

In [51]:
credit_df.head()

,id,title,castList,director
0,19995,Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski]
2,206647,Spectre,"[Daniel Craig, Christoph Waltz, Léa Seydoux, R...",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Christian Bale, Michael Caine, Gary Oldman, A...",[Christopher Nolan]
4,49529,John Carter,"[Taylor Kitsch, Lynn Collins, Samantha Morton,...",[Andrew Stanton]

In [52]:
mergedData= pd.merge(movie_data_df, credit_df, on='id')

In [53]:
mergedData.head()

,homepage,id,original_title,overview,release_date,revenue,tagline,title_x,title_y,castList,director
0,http://www.avatarmovie.com/,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...",2009-12-10,2787965087,Enter the World of Pandora.,Avatar,Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]
1,http://disney.go.com/disneypictures/pirates/,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",2007-05-19,961000000,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,Pirates of the Caribbean: At World's End,"[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski]
2,http://www.sonypictures.com/movies/spectre/,206647,Spectre,A cryptic message from Bond’s past sends him o...,2015-10-26,880674609,A Plan No One Escapes,Spectre,Spectre,"[Daniel Craig, Christoph Waltz, Léa Seydoux, R...",[Sam Mendes]
3,http://www.thedarkknightrises.com/,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,2012-07-16,1084939099,The Legend Ends,The Dark Knight Rises,The Dark Knight Rises,"[Christian Bale, Michael Caine, Gary Oldman, A...",[Christopher Nolan]
4,http://movies.disney.com/john-carter,49529,John Carter,"John Carter is a war-weary, former military ca...",2012-03-07,284139100,"Lost in our world, found in another.",John Carter,John Carter,"[Taylor Kitsch, Lynn Collins, Samantha Morton,...",[Andrew Stanton]

In [54]:
mergedData = mergedData.drop("title_x", axis=1)

In [58]:
mergedData.rename(columns={'title_y': 'title'}, inplace=True)

In [59]:
mergedData.head()

,homepage,id,original_title,overview,release_date,revenue,tagline,title,castList,director
0,http://www.avatarmovie.com/,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...",2009-12-10,2787965087,Enter the World of Pandora.,Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]
1,http://disney.go.com/disneypictures/pirates/,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",2007-05-19,961000000,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,"[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski]
2,http://www.sonypictures.com/movies/spectre/,206647,Spectre,A cryptic message from Bond’s past sends him o...,2015-10-26,880674609,A Plan No One Escapes,Spectre,"[Daniel Craig, Christoph Waltz, Léa Seydoux, R...",[Sam Mendes]
3,http://www.thedarkknightrises.com/,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,2012-07-16,1084939099,The Legend Ends,The Dark Knight Rises,"[Christian Bale, Michael Caine, Gary Oldman, A...",[Christopher Nolan]
4,http://movies.disney.com/john-carter,49529,John Carter,"John Carter is a war-weary, former military ca...",2012-03-07,284139100,"Lost in our world, found in another.",John Carter,"[Taylor Kitsch, Lynn Collins, Samantha Morton,...",[Andrew Stanton]